<div>
    <h1>agregar producto</h1>
    <form id="ptoductForm">

        <label>Nombre</label>
        <input name="titulo">
        <br/>
        <label>precio</label>
        <input name="precio">
        <br/>
        <label>stock</label>
        <input name="stock">

        <input type="submit">
    </form>
</div>
<script src="/js/addproducto.js"></script>