<div>
    {{#each cart}}
    <h1>estos son los productos en el carrito</h1>
    <p>detalles: {{this.producto}}</p>
    {{/each}}
</div>

<button>comprar</button>

<form action="/api/carts/vaciarCarrito" method="post">
        <button type="submit"> vaciar carrito </button>
</form>

<form action="/api/prodviews" method="GET">
        <button type="submit"> volver a los productos </button>
</form>

