<div>
   {{#each prodRender}}
      <h2>informacion de este producto</h2>
      <p>titulo: {{this.titulo}}</p>
      <p>precio: {{this.precio}}</p>
      <p>stock: {{this.stock}}</p>
   {{/each}}

</div>
