<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
    <p>¿No estás registrado? <a href="/api/users/register">Regístrate aquí</a></p>
    <p>¿tenes cuenta de gitHub? <a href="/github/login">haz login por gitHub</a></p>
</div>


<script src="/js/login.js"></script>