<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>{{user.name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
</div>

<form action="/api/prodviews" method="GET">
        <button type="submit"> ver los productos </button>
</form>