<div>

    {{#each prodRender}}
        <p>producto: {{this.titulo}}</p>
        <p>descripcion: {{this.descripcion}}</p>
        <p>precio: {{this.precio}}</p>
        <p>stock: {{this.stock}}</p>
    {{/each}}

    <h1>agregar un producto</h1>
    
    <p>
        <input id="textprod" type="text" alt="Introduce un mensaje">
    </p>

    <p id="log"/>
    

</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>