<div>
    <h1>Registro</h1>
    <form action="/api/session/register" method="POST" id="registerForm">

        <label>Nombre</label>
        <input name="first_name">
        <br/>
        <label>Apellido</label>
        <input name="last_name">
        <br/>
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Edad</label>
        <input name="age">
        <br/>
        <label>Contraseña</label>
        <input name="password">

         <button>registrar</button>
       
    </form>
    <p>¿Ya tienes una cuenta? <a href="/api/users/login">Ingresa aquí</a></p>
</div>

 